<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
</head>
<body>
  <h1>Carrito de Compras</h1>
  <ul>
    {{#each cart.products}}
      <li>
        {{this.product.title}} - {{this.quantity}}
        <button onclick="removeProduct('{{this.product._id}}')">Eliminar</button>
      </li>
    {{/each}}
  </ul>
  <button onclick="clearCart()">Vaciar Carrito</button>
  <script>
    function removeProduct(productId) {
      fetch(`/api/carts/:cid/products/${productId}`, {
        method: 'DELETE',
      }).then(response => {
        if (response.ok) {
          alert('Producto eliminado del carrito');
        } else {
          alert('Error al eliminar el producto del carrito');
        }
      });
    }

    function clearCart() {
      fetch(`/api/carts/:cid`, {
        method: 'DELETE',
      }).then(response => {
        if (response.ok) {
          alert('Carrito vaciado');
        } else {
          alert('Error al vaciar el carrito');
        }
      });
    }
  </script>
</body>
</html>
